
<div class="main_wrapper">
  <div class="headWrap">
    <h4  id="main_login"><button mat-raised-button id="doneButton"class="btn btn-success"
      (click)="onDone()">Done</button></h4>    
    <h4  id="main_login"><button mat-raised-button id="feedbackButton"class="btn btn-danger"
      (click)="feedbackDialog()">Feedback</button></h4>
     
    <h4  id="main_banner"><a href="http://localhost:4200/"><img id="cwLogo" src="/planner/assets/Claimwire_Logo.png" alt="ClaimswireMaps"></a></h4>
    <h4 class="main_tag"><strong>Professionals Portal</strong> | Adjuster</h4>
   </div>
    <adjmap-app></adjmap-app>
</div>



